{% load static %}
<div class="col-lg-4 sidebar">
    <div class="sidebar-inner">
        <div class="sidebar-widget category">
            <h2 class="title">دسته بندی ها</h2>
            <ul class="navbar-nav category-nav">
                {% for category in categories %}
                <li class="nav-item">
                    <a class="nav-link font-weight-900" href="{{ category.get_absolute_url }}"></i>{{ category }}</a>
                </li>
                {% endfor %}
            </ul>
            <!--<nav class="navbar bg-light">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-female"></i>Fashion & Beauty</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-child"></i>Kids & Babies Clothes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-tshirt"></i>Men & Women Clothes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-mobile-alt"></i>Gadgets & Accessories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-microchip"></i>Electronics &
                            Accessories</a>
                    </li>
                </ul>
            </nav>-->
        </div>

        <div class="sidebar-widget widget-slider">
            <div class="sidebar-slider normal-slider">
                {% for product in products|slice:":3" %}
                <div class="product-item">
                    <div class="product-title">
                        <a href="#">{{ product.title }}</a>
                        <!--<div class="ratting">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>-->
                    </div>
                    <div class="product-image">
                        <a href="{{ product.get_absolute_url }}">
                            <img src="{{ product.image.url }}" alt="Product Image">
                        </a>
                        <!--<div class="product-action">
                            <a href="#"><i class="fa fa-cart-plus"></i></a>
                            <a href="#"><i class="fa fa-heart"></i></a>
                            <a href="#"><i class="fa fa-search"></i></a>
                        </div>-->
                    </div>
                    <div class="product-price">
                        <h3>{{ product.price }}</h3>
                        <a class="btn" href="{{ product.get_absolute_url }}"><i class="fa fa-shopping-cart"></i>سفارش دهید</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <!--<div class="sidebar-widget brands">
            <h2 class="title">Our Brands</h2>
            <ul>
                <li><a href="#">Nulla </a><span>(45)</span></li>
                <li><a href="#">Curabitur </a><span>(34)</span></li>
                <li><a href="#">Nunc </a><span>(67)</span></li>
                <li><a href="#">Ullamcorper</a><span>(74)</span></li>
                <li><a href="#">Fusce </a><span>(89)</span></li>
                <li><a href="#">Sagittis</a><span>(28)</span></li>
            </ul>
        </div>

        <div class="sidebar-widget tag">
            <h2 class="title">Tags Cloud</h2>
            <a href="#">Lorem ipsum</a>
            <a href="#">Vivamus</a>
            <a href="#">Phasellus</a>
            <a href="#">pulvinar</a>
            <a href="#">Curabitur</a>
            <a href="#">Fusce</a>
            <a href="#">Sem quis</a>
            <a href="#">Mollis metus</a>
            <a href="#">Sit amet</a>
            <a href="#">Vel posuere</a>
            <a href="#">orci luctus</a>
            <a href="#">Nam lorem</a>
        </div>-->
    </div>
</div>