{% extends 'shared/_MainLayout.html' %}
{% load static %}

{% block content %}
<!-- Main Slider Start -->
<div class="header">
    <div class="container-fluid">
        <div class="row">
<!--
            <div class="col-md-3">
                <nav class="navbar navbar-expand-md bg-light">
                    <p class="category-menu">دسته بندی ها</p>
                    <button type="button" class="navbar-toggler category-nav-toggler navbar-light"
                            data-toggle="collapse" data-target="#categoryNav">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="categoryNav">
                        <ul class="navbar-nav category-nav">
                            {% for category in categories %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ category.get_absolute_url }}"><i class="fa fa-arrow-left" ></i>{{ category }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </nav>
            </div>
-->
            <div class="col-md-5">
                <div class="header-slider normal-slider">
                    {% for product in products %}
                    <div class="header-slider-item">
                        <img src="{{ product.image.url }}" alt="Slider Image" width="100%"/>
                        <div class="header-slider-caption">
                            <p>{{ product.title }}</p>
                            <a class="btn" href="{{ product.get_absolute_url }}"> سفارش دهید <i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                    {% endfor %}
            </div>
                </div>
            <div class="col-md-7">
                <div class="col-md-12 header-img bg-transparent">
                    <div class="row">
                        {% for category in categories %}
                            <div class="col-md-4 img-item">
                            <img src="{{ category.image.url }}" />
                            <a class="img-text" href="{{ category.get_absolute_url }}" >
                                <p>{{ category.title }}</p>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Slider End -->

<!-- Brand Start -->
    <!--
<div class="brand">
    <div class="container-fluid">
        <div class="brand-slider">
            <div class="brand-item"><img src="{% static 'img/brand-1.png' %}" alt=""></div>
            <div class="brand-item"><img src="{% static 'img/brand-2.png' %}" alt=""></div>
            <div class="brand-item"><img src="{% static 'img/brand-3.png' %}" alt=""></div>
            <div class="brand-item"><img src="{% static 'img/brand-4.png' %}" alt=""></div>
            <div class="brand-item"><img src="{% static 'img/brand-5.png' %}" alt=""></div>
            <div class="brand-item"><img src="{% static 'img/brand-6.png' %}" alt=""></div>
        </div>
    </div>
</div>
-->
<!-- Brand End -->

<!-- Feature Start-->
    <!--<div class="feature">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fab fa-cc-mastercard"></i>
                    <h2>پرداخت امن</h2>
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fa fa-truck"></i>
                    <h2>حمل و نقل رایگان</h2>
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fa fa-sync-alt"></i>
                    <h2>تضمین کیفیت کالا</h2>
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fa fa-comments"></i>
                    <h2>پشتیباین ۲۴ ساعته</h2>
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!-- Feature End-->

<!-- Category Start-->
    <!--
<div class="header">
    <div class="container-fluid">
        <div class="col-md-12 header-img">
                    <div class="row">
                        {% for category in categories %}
                            <div class="col-md-4 img-item">
                            <img src="{% static 'img/category-1.jpg' %}" />
                            <a class="img-text" href="" >
                                <p>Some text goes here that describes the image</p>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
&lt;!&ndash;
        <div class="row">
            <div class="col-md-3">
                <div class="category-item ch-400">
                    <img src="{% static 'img/category-3.jpg' %}"/>
                    <a class="category-name" href="">
                        <p>Some text goes here that describes the image</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="category-item ch-250">
                    <img src="{% static 'img/category-4.jpg' %}"/>
                    <a class="category-name" href="">
                        <p>Some text goes here that describes the image</p>
                    </a>
                </div>
                <div class="category-item ch-150">
                    <img src="{% static 'img/category-5.jpg' %}"/>
                    <a class="category-name" href="">
                        <p>Some text goes here that describes the image</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="category-item ch-150">
                    <img src="{% static 'img/category-6.jpg' %}"/>
                    <a class="category-name" href="">
                        <p>بالایی</p>
                    </a>
                </div>
                <div class="category-item ch-250">
                    <img src="{% static 'img/category-7.jpg' %}"/>
                    <a class="category-name" href="">
                        <p>Some text goes here that describes the image</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="category-item ch-400">
                    <img src="{% static 'img/category-8.jpg' %}"/>
                    <a class="category-name" href="">
                        <p>Some text goes here that describes the image شمع</p>
                    </a>
                </div>
            </div>
        </div>
&ndash;&gt;
    </div>
</div>
-->
<!-- Category End-->

<!-- Call to Action Start -->
    <!--<div class="call-to-action">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h1>برای اصلاعات بیشتر تماس بگیرید</h1>
            </div>
            <div class="col-md-6">
                <a href="tel:0123456789" style="direction: ltr;">+۹۳ ۷۶ ۷۰ ۱۴ ۷۶۹</a>
            </div>
        </div>
    </div>
</div>-->
<!-- Call to Action End -->

<!-- Featured Product Start -->
<div class="featured-product product">
    <div class="container-fluid">
        <div class="section-header">
            <h1>محصولات برتر</h1>
        </div>
        <div class="row align-items-center product-slider product-slider-4">
            {% for product in products %}
            <div class="col-md-3">
                <div class="product-item">
                    <div class="product-title">
                        <a href="#">{{ product.title }}</a>
                        <!--<div class="ratting">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>-->
                    </div>
                    <div class="product-image">
                        <a href="{{ product.get_absolute_url }}">
                            <img src="{{ product.image.url }}" alt="Product Image">
                        </a>
                        <!--<div class="product-action">
                            <a href="#"><i class="fa fa-cart-plus"></i></a>
                            <a href="#"><i class="fa fa-heart"></i></a>
                            <a href="#"><i class="fa fa-search"></i></a>
                        </div>-->
                    </div>
                    <div class="product-price">
                        <h3>{{ product.price }}</h3>
                        <a class="btn" href="{{ product.get_absolute_url }}"><i class="fa fa-shopping-cart"></i>سفارش دهید</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Featured Product End -->

<!-- Newsletter Start -->
    <!--<div class="newsletter">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h1>به خبرنامه ما بپیوندید</h1>
            </div>
            <div class="col-md-6">
                <div class="form">
                    <input type="email" placeholder="ایمیل خود را وارد کنید">
                    <button>ارسال</button>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!-- Newsletter End -->

<!-- Recent Product Start -->
<div class="recent-product product">
    <div class="container-fluid">
        <div class="section-header">
            <h1>آخرین محصولات</h1>
        </div>
        <div class="row align-items-center product-slider product-slider-4">
            {% for product in products %}
            <div class="col-md-3">
                <div class="product-item">
                    <div class="product-title">
                        <a href="#">{{ product.title }}</a>
                        <!--<div class="ratting">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>-->
                    </div>
                    <div class="product-image">
                        <a href="{{ product.get_absolute_url }}">
                            <img src="{{ product.image.url }}" alt="Product Image">
                        </a>
                        <!--<div class="product-action">
                            <a href="#"><i class="fa fa-cart-plus"></i></a>
                            <a href="#"><i class="fa fa-heart"></i></a>
                            <a href="#"><i class="fa fa-search"></i></a>
                        </div>-->
                    </div>
                    <div class="product-price">
                        <h3>{{ product.price }}</h3>
                        <a class="btn" href="{{ product.get_absolute_url }}"><i class="fa fa-shopping-cart"></i>سفارش دهید</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Recent Product End -->

<!-- Review Start -->
<div class="review">
    <div class="container-fluid">
        <div class="row align-items-center review-slider normal-slider">
            {% for comment in comments %}
            <div class="col-md-12">
                <div class="review-slider-item">
                    <div class="review-img">
                        <img src="{{ comment.image.url }}" alt="Image">
                    </div>
                    <div class="review-text">
                        <h2>{{ comment.name }}</h2>
                        <h3>{{ comment.profession }}</h3>
                        <div class="ratting">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p>
                            {{ comment.comment }}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Review End -->

{% endblock %}